<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Version</title>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap" rel="stylesheet">
 <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.1/dist/tailwind.min.css" rel="stylesheet">
     <script defer src="/public/js/main.js"></script>
    <script defer src="/public/js/auth-check.js"></script>
    <script defer src="/public/js/maintenance.js"></script>
    <script defer src="/public/js/admin.js"></script>
    <script defer src="/public/js/notifications.js"></script>
    <script defer src="/public/js/notificationSocket.js"></script>
    <script defer src="/public/js/otp-verification.js"></script>
    <script defer src="/public/js/teacher-chat.js"></script>
    <script defer src="/public/js/teacher.js"></script>
       <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <% versions.forEach(version => { %>
<div class="version-card">
<h4>Versão <%= version.versionNumber %></h4>
<p>Alterado por: <%= version.changedBy.name %></p>
<button 
      data-version="<%= version._id %>"
      class="show-diff-btn"
>Ver Alterações</button>
</div>
<% }); %>

</body>
</html>